@font-face {
  font-family: Estrangeiro;
  src: url("../../public/Estrangeiro.woff");
}

@font-face {
  font-family: Clacon;
  src: url("../../public/Clacon2.woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --primary-color: #ACC66E;
  --glow-color: #c6dd90;
  --background-color: #141912;

  background-color: black;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Clacon';
}

input,
button {
  font-family: 'Clacon';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;

}

*.text-glow {
  text-shadow: 0 0 10px var(--glow-color);
  transition: text-shadow 0.05s linear;
}

*.glow {
  box-shadow: 0 0 10px 0 var(--glow-color);
  transition: box-shadow 0.05s linear;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ACC66E #ECF2E4;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--background-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ACC66E;

  box-shadow: 0 0 10px 0 var(--glow-color);

  &:hover {
    background-color: #ACC66E;
  }

  &:active {

    background-color: #ACC66E;
  }
}